{% extends "base.html" %}

{% block title %}Listado de Actividades{% endblock %}

{% block main %}
<h2>Actividades registradas</h2>

<table>
  <thead>
    <tr>
      <th scope="col">Inicio</th>
      <th scope="col">Término</th>
      <th scope="col">Comuna</th>
      <th scope="col">Sector</th>
      <th scope="col">Temas</th>
      <th scope="col">Organizador</th>
      <th scope="col">Total Fotos</th>
    </tr>
  </thead>
  <tbody>
  {% for a in actividades %}
    <tr onclick="location.href='{{ url_for('main.ver_actividad', actividad_id=a.id) }}'">
      <td>{{ a.dia_hora_inicio.strftime('%d-%m-%Y %H:%M') }}</td>

      <td>
        {% if a.dia_hora_termino %}
          {{ a.dia_hora_termino.strftime('%d-%m-%Y %H:%M') }}
        {% else %}
          —
        {% endif %}
      </td>

      <td>{{ a.comuna.nombre }}</td>
      <td>{{ a.sector }}</td>
      <td>{{ a.temas | listar_temas }}</td>
      <td>{{ a.nombre }}</td>
      <td>{{ a.fotos | length }}</td>
    </tr>
  {% else %}
    <tr>
      <td colspan="7" style="text-align:center;">No hay actividades registradas.</td>
    </tr>
  {% endfor %}
  </tbody>
</table>

<nav class="paginacion">
  {% if pagination.has_prev %}
    <a href="{{ url_for('main.listado_actividades', page=pagination.prev_num) }}">« Anterior</a>
  {% endif %}
  Página {{ pagination.page }} de {{ pagination.pages }}
  {% if pagination.has_next %}
    <a href="{{ url_for('main.listado_actividades', page=pagination.next_num) }}">Siguiente »</a>
  {% endif %}
</nav>
{% endblock %}